<svg class="date-series-viewport" ng-attr-width="{{width}}"
  ng-attr-height="{{height}}">
    <defs>
      <clippath id="clip-{{id}}">
        <rect ng-attr-width="{{contentWidth}}"
    ng-attr-height="{{focusHeight}}"></rect>
      </clippath>
    </defs>
    <g class="date-series-focus"
    ng-attr-transform="translate({{margins.left}}, {{margins.top}})">
      <path class="date-series-focus-line" clip-path="url(#clip-{{id}})"
    ng-attr-d="{{dataLinePath}}"></path>
      <g class="date-series-x date-series-axis date-series-focus"
    ng-attr-transform="translate(0, {{focusHeight}})"></g>
      <g class="date-series-y date-series-axis"></g>
      <g class="date-series-points">
        <path ng-repeat="point in dataPoints"
    ng-attr-transform="translate({{point.x}}, {{point.y}})"
    ng-attr-d="{{symbolGen()}}" class="date-series-point"
    ng-mouseenter="showTooltip(point)" ng-mouseleave="hideTooltip()"></path>
        <text class="date-series-tooltip"
    ng-attr-transform="translate({{tooltip.x}}, {{tooltip.y}})"
    ng-show="tooltip.show">{{tooltip.value}}</text>
      </g>
    </g>
    <g class="date-series-context"
    ng-attr-transform="translate({{margins.left}}, {{contextTop}})">
      <path class="date-series-context-area"
    ng-attr-d="{{dataAreaPath}}"></path>
      <g class="date-series-x date-series-axis date-series-context"
    ng-attr-transform="translate(0, {{contextHeight}})"></g>
      <g class="date-series-x date-series-brush"></g>
    </g>
    <g class="date-series-axis-titles">
      <text
    ng-attr-transform="translate(30, {{margins.top + focusHeight/2}}) rotate(-90)">{{yTitle}}</text>
      <text
    ng-attr-transform="translate({{contentWidth/2 + margins.left}}, {{height}})">{{xTitle}}</text>
    </g>
</svg>