<!DOCTYPE html>
<html ng-app="demo">
<head>
<meta charset="UTF-8">
<title>Visualizations demo</title>
<link rel="stylesheet" type="text/css"
  href="/dist/visualizations.min.css">
</head>
<body ng-controller="DemoCtrl">
  <sleep-cycle width="
  300" sleep-data="data" sunrise="{{sunrise}}"
    sunset="{{sunset}}" sleep-quality={{quality}}></sleep-cycle>
  <date-series width="500" height="300" id="chart" units="%"
    axis-x-title="Date" y-title="Quality" data="timedata"
    click-data-point="showDataPoint(point)"></date-series>
  <workout-calories w="{{width}}" h="{{height}}" calories-data="calories"></workout-calories>
  <input ng-init="width=500" type="number" ng-model="width">
  <input ng-init="height=500" type="number" ng-model="height">
  <script type="text/javascript"
    src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
  <script type="text/javascript" src="/demo-js/demo.js"></script>
  <script type="text/javascript" src="/dist/visualizations.js"></script>
</body>
</html>
